# Игнорировать ВСЁ
/*

# Но не игнорировать нужные файлы/папки
!.gitignore
!.vimrc
!.vimrc-by-experienced-programmer
!autostart/
!bottom/
!calcurse/
!cmus/
!delta/
!dunst/
!fastfetch/
!fish/
!git/
!gtk-3.0/
!gtk-4.0/
!htop/
!i3/
!kitty/
!lazygit/
!mpv/
!nvim/
!pipewire/
!rofi/
!xsettingsd/
!yandex-disk/
!yazi/
!yt-dlp/
!nekoray/
!obs-studio/
!xfce4/

!spectaclerc
!mimeapps.list
!picom.conf
!user-dirs.dirs
!user-dirs.locale
!greenclip.toml
!pavucontrol.ini
!yandex-music.conf

yandex-disk/iid
yandex-disk/passwd
yandex-disk/crash.txt
nekoray/config/neko.log
nekoray/config/profiles
obs-studio/logs
obs-studio/profiler_data
obs-studio/safe_mode
