# Игнорировать ВСЁ
/*

# Но не игнорировать нужные файлы/папки
!.gitignore
!cmus/
!dunst/
!fish/
!i3/
!kitty/
!lazygit/
!neofetch/
!neofetch/
!nvim/
!rofi/
!yandex-disk/
!yazi/
!gtk-3.0/
!gtk-4.0/
!xsettingsd/
!autostart/
!bottom/
!htop/

!spectaclerc
!mimeapps.list
!picom.conf
!user-dirs.dirs
!user-dirs.locale

yandex-disk/iid
yandex-disk/passwd

