# Игнорировать ВСЁ
/*

# Но не игнорировать нужные файлы/папки
!.gitignore
!autostart/
!bottom/
!calcurse/
!cmus/
!dunst/
!fastfetch/
!fish/
!gtk-3.0/
!gtk-4.0/
!htop/
!i3/
!kitty/
!lazygit/
!nvim/
!pipewire/
!rofi/
!xsettingsd/
!yandex-disk/
!yazi/
!mpv/

!spectaclerc
!mimeapps.list
!picom.conf
!user-dirs.dirs
!user-dirs.locale
!greenclip.toml

yandex-disk/iid
yandex-disk/passwd
yandex-disk/crash.txt

