#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name[ru]=Приложение Yandex.Disk
Name=Yandex.Disk
NoDisplay=true
Comment[ru]=Приложение для синхронизации пвпок с Yandex Disk
Comment=Yandex.Disk autostart
Exec=yandex-disk start
Terminal=false
